body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}

img {
  height: 100%;
  width: 100%;
}

.card {
  color: black;
  margin: 10px;
  padding: 2px;
}

.divWithScroll {
  height: 400px;
  overflow: scroll;
}

#reviewDiv {
  height: 120px;
}

#reviews {
  height: 130px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#input-form {
  width: 100%;
  height: 125px;
}
